/* 
This is a comment. CSS for the overall page.
*/
body {
  background-color: grey;
}

/* 
Styling for h2 elements
*/
h2 {
  color: black;
}

/* 
Styling for paragraph elements with the class "paragraph".
*/
.paragraph {
  color: blue;
  font-size: 20px;
}

/* 
Styling for anchor (a) elements.
*/
a {
  color: red;
}

/* 
Styling for button elements.
*/
button {
  padding: 20px;
  background-color: blue;
  color: white;
  /* Ensures text on the button is visible */
  border: none;
  /* Removes default button border */
  cursor: pointer;
  /* Changes the cursor to a pointer when hovered */
}

/* 
Styling for the element with the ID "container".
*/
#container {
  width: 100px;
  height: 100px;
  background-color: green;
}
